appdirs==1.4.4
autopep8==1.4.3
certifi==2019.9.11
chardet==3.0.4
distlib==0.3.1
filelock==3.0.12
idna==2.8
importlib-metadata==1.7.0
numpy==1.16.2
praw==7.1.0
git+git://github.com/maniknarang/prawcore@master#egg=prawcore
pycodestyle==2.5.0
pycryptodome==3.9.4
requests==2.22.0
six==1.14.0
update-checker==0.18.0
urllib3==1.25.6
websocket-client==0.57.0
zipp==3.1.0
